.videoModal {
  position: static;
}

.videoModalContent {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  iframe {
    @media (max-width: 768px) {
      width: 200px;
      height: 250px;
    }
    @media (max-width: 480px) {
      width: 200px;
      height: 250px;
    }
  }
}

.actionButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #76c7c0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.actionButton:hover {
  background-color: #5aa9a8;
}
.noQuestionsMessage {
  font-size: 18px;
  color: #dc3545;
  text-align: center;
  margin-top: 20px;
}
